node_modules
**/node_modules
**/.next
build
tmp
**/.git
.dockerignore
.gitignore
.idea
.vscode
**/dist
**/out
**/npm-debug.log
**/pnpm-debug.log
**/.DS_Store

# UI projects moved to separate repositories
ciyex-ehr-ui
ciyex-portal-ui
ciyex-admin-ui
